
.example-container > * {
    width: 100%;
}

.box-login{
    border: 1px solid #cecece;
    margin-top: 3em;
}

.title-login{
    text-align: center;
    padding: .5rem 0;
    background-color: #187da0;
    color: #fff;
    width: 100%;
}